* {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --main-accent-color: #9ACD32;
    --main-accent-color-light: #C4FF4B;

}

.heading {
    margin-bottom: 1em;
}

.list {
    --padding-block: 0.5em;

    font-size: 1.3em;

    margin-left: 3em;
    list-style-type: none;
    line-height: 1;
}

.list__item {
    position: relative;
    display: block;
    padding-left: 3em;
    padding-right: 1em;
    padding-block: var(--padding-block);
    margin-bottom: 1em;

    width: fit-content;

    text-decoration: none;
    color: black;

    outline: none;
}

.list__item:hover,
.list__item:focus {
    color: inherit;
}

.list__item::before,
.list__item::after {
    content: "";
    position: absolute;
    --height-formula: (1em + 2 * var(--padding-block));
    --width-formula: (1em + 2 * var(--padding-block));
    height: calc(var(--height-formula));
    width: calc(var(--width-formula));
    background-color: var(--main-accent-color-light);
    border-radius: 0.5em;
    transition: all 0.25s ease;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.list__item::before {
    z-index: -2;
}

.list__item::after {
    z-index: -1;
}

.list__item:hover::before,
.list__item:focus::before{
    height: 100%;
    width: 100%;
}

.list__item:hover::after,
.list__item:focus::after{
    height: 1em;
    width: 1em;
    left: var(--padding-block);
    border-radius: 0.3em;
    background-color: var(--main-accent-color);
    box-shadow: 0 0 0.3em 0 var(--main-accent-color);
}

@media screen and (max-width: 576px) {
    .list {
        margin-left: 0;
    }
}
